@keyframes earthquake {
    10% {
      transform: rotate3d(1, 0, 0, 45deg );
    }
  
    30% {
      transform: rotate3d(0, 1, 0, 90deg );
    }
  
     60% {
      transform: rotate3d(0, 1, 0, -90deg );
    }
  
     90% {
      transform:  rotate3d(1, 0, 0, -45deg );
    }
  }

  @keyframes pointmove{
    from{
        transform: translateY( 0px);
    }
   
    to{
        transform: translateY(-5px);
    }
}
@keyframes zoom{
    from{
        transform: scale(1) ;
        opacity: 90%;
    }
   
    
    to {
        transform: scale(1.2);
        opacity: 60%;
    }
}
@keyframes opacitymenu {
  from{
    opacity:20%;
  }
  to{
    opacity:100%;
  }
}