@keyframes earthquake {
    10%, 90% {
      transform: translate3d(-2px, 2px, 2px);
    }
  
    20%, 80% {
      transform: translate3d(3px, 3px, 3px);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-5px, -5px, -5px);
    }
  
    40%, 60% {
      transform: translate3d(5px, 5px, 5px);
    }
  }

  @keyframes pointmove{
    from{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(-5px);
    }
    70%{
        transform: translateY(-8px);
    }
    to{
        transform: translateY(-10px);
    }
}
@keyframes zoom{
    from{
        transform: scale(1) ;
        opacity: 90%;
    }
   
    
    to {
        transform: scale(1.2);
        opacity: 60%;
    }
}
@keyframes opacitymenu {
  from{
    opacity:20%;
  }
  to{
    opacity:100%;
  }
}