
@mixin gradient-note{
                   background: linear-gradient(to right, #FF6666 60%, #FF9966) ;
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;
}
@mixin headerfooter {
    width: 80%;
    height: 8vh;
    position: fixed;
    display: flex;
}
@mixin menu-style-general{
    max-width: 900px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .22), 0 10px 40px rgba(0, 0, 0, .25);
    ul{
        list-style: none;
    }
    li{
        display: flex;
    }
    h3{
        text-align: center;
    }
    .headermenu{
        text-align: center;
    }
   
}