
@mixin gradient-note{
                   background: linear-gradient(to right, #FF6666 60%, #FF9966) ;
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;
}
@mixin headerfooter {
    width: 80%;
    height: 8vh;
    position: fixed;
    display: flex;
}
@mixin menu-style-general{
    max-width: 900px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .22), 0 10px 40px rgba(0, 0, 0, .25);
    ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    li{
        display: flex;
    }
    h3{
        text-align: center;
    }
    .headermenu{
        text-align: center;
    }
    .recipes{
        margin: 20px 50px;
    }
   
}

@mixin traitsoush3($background) {
    .trait{
        width: 100%;
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
        align-items: center;
    }
    h3{
        position: relative;
        display: inline;
    }
    h3::after{
        content: "";
        background: $background;
        position: absolute;
        bottom: -2px;
        left:0;
        width: 0%;
        height: 3px;
        transition: 0.25s cubic-bezier(0.72, -0.1, 0.19, 0.92);

    }
    h3:hover:after{
        width: 100%;
    }
}
@mixin traitdecorationmenu {
            width: 60%;
            height: 5px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
}

@mixin menuindex($color, $font-family){
    background-color:$color ;
    font-family: $font-family;
}






