$color: (color-note: #fcdfdb, color-chic:#fff5fe, color-delice:#f9f9f9, color-palette:#fdfffd,
backgroudcolor-header-footer:#579c87, color-text-header-footer:#fdcb46);


$font-family: ( family-note:'Loved by the King', family-chic:'Faustina', family-delice:'Galada',
 family-palette: 'Kaushan Script') ;
 
