@import "variables";
@import "mixins";
@import "animations";
@import "responsive";

/*mise en page générale*/ 
body{
    margin:0;
    padding:0;
    
}

.container{
        margin: auto;
        max-width: 80%;
        min-height: 100vh;
        border: 2px solid map-get($color, backgroudcolor-header-footer );
        display: flex;
        flex-direction: column;
    @include responsive(medium){
        max-width: 100%;
        border: none;
    }     

    @include responsive(small){
        max-width: 100%;
        border: none;
    }
   }

/* Mise en place du Header*/
header{
    @include headerfooter;
    z-index: 1;
    top: 0;
    background-color: map-get($color,backgroudcolor-header-footer ) ;
    justify-content: center;
    align-items: center;
     h1{
        text-align: center;
        color: map-get($color,color-text-header-footer );
        font-family: map-get($font-family , family-ohmyfood );
        font-weight: bolder;
    }
    @include responsive(medium){
        width: 100%;
    }
    @include responsive(small){
        width: 100%;
    }
}
/* mise en page du content de l'index*/

.contenant{
    display: flex;
    flex-flow: row wrap;
    max-width: 599px;
    justify-content: space-around;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    @include responsive(small){
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
     
}

.menu{
    text-align: center;
    width: 200px;
    height: 270px;
    margin-top: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .22), 0 10px 40px rgba(0, 0, 0, .25);
     a{
        text-decoration: none;
        display: block;
        width: 200px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          &:hover{
            animation: zoom 1s ease-out both; 
        }
        .menu_uppercase{
            text-transform: uppercase;
        }
     }
     &_note{
        background-color: map-get($color, color-note );
        font-family: map-get($font-family,family-note );
               &--lien{
                   color:map-get($color,color-menu-note);
                   font-size: 1.5rem;
                    
               }
               & .block_lien--note {
                   font-size: 1.5rem;
                   @include gradient-note;
               }
     }
     &_chic{
        background-color: map-get($color, color-chic );
        font-family:map-get($font-family, family-chic) ;
                 &--lien{
                     background: $background-chic;
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     font-size: 1.1rem;
                 }
                 & .menu_chic--lienmenu{
                     font-size: 1.8rem;
                     color: map-get($color ,color-menu2-entree);
                 }
    
     }
     &_delice {
        background-color:map-get($color,color-delice);
        font-family:map-get($font-family,family-delice );
                  &--lien{
                    background: $background-delice;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 1.3rem;
                  }
                  & .menu_delice--lienmenu{
                    font-size: 1.8rem;
                    color: map-get($color , color-menu-delice);
                  }
       
     }
     &_palette {
        background-color: map-get($color, color-palette );
        font-family:map-get($font-family,family-palette);
        &--lien{
            background: $background-palette;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.4rem;
          }
          & .menu_palette--lienmenu{
            font-size: 1.8rem;
            color: map-get($color , color-menu-palette);
          }
       
     }
     }
/* mise en page du footer*/

footer{
    @include headerfooter;
    bottom: 0;
    background-color: map-get($color, backgroudcolor-header-footer );
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        a{
        margin-left: 3%;
        margin-right: 3%;
        color: map-get($color,color-text-header-footer );
        font-family: map-get($font-family , family-ohmyfood );
        font-size: 1.2rem;
        text-decoration: none;
        @include responsive(small){
            font-size: 0.9rem;
        }
            &:hover {
            animation-name: earthquake ;
            animation-duration: 0.90s;
            animation-fill-mode: both; /* indique comment l'annimation doit appliquer les styles à sa cible avant et après son exécution*/
             }
            }
     @include responsive(medium){
                width: 100%;
            }       
     @include responsive(small) {
        width: 100%;
            a{
                font-size: 1rem;
            }
       
     } 
    
    
}
/*mise en page du bouton prochainement*/
.move {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh; }
    .btn {
      background-color: map-get($color, backgroudcolor-header-footer );
      border: solid 1px map-get($color, backgroudcolor-header-footer );
      border-radius: 10px;
      color: map-get($color , color-text-header-footer);
      font-family: map-get($font-family , family-ohmyfood );
      width: 12rem;
      height: 2.5rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      @include responsive(small){
          font-size: 1rem;
      }
    }
      
       .point{
    font-size: 2.5rem;
    padding-bottom: 12px ;
    display: inline-block;
    
}
.pt1{
    animation: pointmove 0.6s infinite alternate;
}
.pt2{
    animation: pointmove 0.4s 0.2s infinite alternate;
}
.pt3{
    animation: pointmove 0.6s 0.4s infinite alternate;
}
/*mise en place des menus*/


.recipes{
    margin: 20px 50px;
      
    @include responsive(small){
        margin: 5px 20px;
        text-align: center;
    }
}


/*menu la note enchantée*/
.menu1{
    @include menu-style-general;
    background-color: map-get($color, color-note );
    font-family: map-get($font-family,family-note );
    line-height: 1.1;
    display: flex;
    flex-direction: column;
             h2, h3{
                color: map-get($color , color-menu-note );
             }
             
          .dish{
             font-size: 1.1rem;
             color: map-get($color , color-menu-note-dish);
             margin-top: 5px;
             width: 90%;
             font-weight: 500;
         }
         .price{
             font-weight: bolder;
             color: map-get($color , color-menu-note );
             margin-top: 4px;
             width: 10%;
             text-align: center;
         }
          .finmenu1{
             text-align: center;
         }
    @include responsive(large) {
        @include traitsoush3($background-note);
        .traitdecoratif{
            background-image: url(/img/traitmenu1.svg);
            width: 90%;
            height: 5px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }   
    @include responsive(medium) {
        max-width: 600px;
        margin-top: 80px;
        margin-bottom: 80px;
        @include traitsoush3($background-note);
        .traitdecoratif{
            background-image: url(/img/traitmenu1.svg);
            width: 90%;
            height: 5px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
       .recipes{
           margin:10px 40px;
       }
       .dish{
           font-size: 1rem;
       }
    }    
    @include responsive(small){
        max-width: 360px;
        margin-top: 70px;
        margin-bottom: 70px;
        animation: opacitymenu 3s;
        
        .dish{
            font-size: 1rem;
        }
        ul li {
           display: flex; 
           flex-direction: column;
           align-items: center;
           
           }
        h3{
            font-size: 1.3rem;
            position: relative;
        }
        h3::before{
            content: "";
            background: $background-inverse-note ;
            width: 80px;
            height: 2px;
            position: absolute;
            left: 5px;
            bottom: 10px;
        }
        h3::after{
            content: "";
            background: $background-note ;
            width: 80px;
            height: 2px;
            position: absolute;
            right:  5px;
            bottom: 10px;
        }
        }
}
i{
    @include gradient-note;
}



/*menu Le chic à la française*/

.menu2{
    @include menu-style-general;
    background-color: map-get($color, color-chic );
    font-family:map-get($font-family, family-chic) ;
    line-height: 1.1;
                   h2{
        background: $background-chic;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.8rem;}
                   .menu2_entree{
                    color: map-get($color , color-menu2-entree ) ;
                   }
                   .menu2_plat{
                    color: map-get($color , color-menu2-plat ) ;
                   }
                   .menu2_dessert{
                    color: map-get($color , color-menu2-dessert ) ;  
                   }
                   .dish{
                    font-size: 0.9rem;
                    padding-left: 10px;
                    width: 90%;
                }
                .price{
                    font-weight: bolder;
                    width: 10%;
                }
    @include responsive(large) {
             @include traitsoush3($background-chic);
       }               
    @include responsive(medium){
        max-width: 600px;
        margin-top: 80px;
        margin-bottom: 80px;
        @include traitsoush3($background-chic);
       .recipes{
           margin:30px 40px;
       }
       .dish{
           font-size: 1rem;
       }
    }
               
    @include responsive(small){
        max-width: 360px;
        margin-top: 70px;
        margin-bottom: 70px;
        animation: opacitymenu 3s;
        h2{
            font-size: 1.5rem;
        }
        .dish{
            font-size: 0.8rem;
            margin-top: 2px;
        }
        .price{
            margin-top: 0;
        }
        ul li {
           display: flex; 
           flex-direction: column;
           align-items: center;
           
           }
    } 
}

/* Menu Delice*/

.menu3{
    @include menu-style-general;
    background-color:map-get($color,color-delice);
    font-family:map-get($font-family,family-delice );
    line-height:1.3 ;
    h2{
        background: $background-delice;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        font-weight: lighter;}
        .dish{
            font-size: 0.9rem;
            padding-left: 10px;
            width: 90%;
        }
        .price{
            font-weight: bolder;
            width: 10%;
        }
        @include responsive(large) {
            @include traitsoush3($background-delice);
      }           
        
        @include responsive(medium){
            max-width: 600px;
            margin-top: 80px;
            margin-bottom: 80px;
            @include traitsoush3($background-delice);
           
           .recipes{
               margin:30px 40px;
           }
           .dish{
               font-size: 0.9rem;
           }
        }        

    @include responsive(small){
        max-width: 360px;
        margin-top: 70px;
        margin-bottom: 70px;
        animation: opacitymenu 3s;
        .dish{
            font-size: 0.8rem;
        }
        .price{
            margin-top: 0;
        }
        ul li {
           display: flex; 
           flex-direction: column;
           align-items: center;
           }
           h3{
            font-size: 1rem;
            position: relative;
        }
        h3::before{
            content: "";
            background: $background-inverse-delice;
            width: 60px;
            height: 2px;
            position: absolute;
            left: 5px;
            bottom: 10px;
        }
        h3::after{
            content: "";
            background: $background-delice;
            width: 60px;
            height: 2px;
            position: absolute;
            right:  5px;
            bottom: 10px;
        }   
        }
    
    } 
 
/* Menu Palette*/    
.menu4{
    @include menu-style-general;
    background-color: map-get($color, color-palette );
    font-family:map-get($font-family,family-palette);
    line-height: 1.1;
        h2{
            background: $background-palette;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2rem; 
        }
        .dish{
            font-size: 1.1rem;
            padding-left: 10px;
            width: 90%;
        }
        .price{
            font-weight: bolder;
            width: 10%;
        }
        @include responsive(large) {
            @include traitsoush3($background-palette);
      }               


    @include responsive(medium){
        max-width: 600px;
        margin-top: 80px;
        margin-bottom: 80px;
        @include traitsoush3($background-palette);
       .recipes{
           margin:30px 40px;
       }
       .dish{
           font-size: 1rem;
       }
    }        

      @include responsive(small){
         max-width: 360px;
         margin-top: 70px;
         margin-bottom: 70px;
         animation: opacitymenu 3s;
            h2{
                font-size: 1.8rem;
            }
            
            .dish{
           font-size: 0.9rem;
    }
            .price{
            margin-top: 0;
    }
            ul li {
            display: flex; 
            flex-direction: column;
             align-items: center;
       }
       h3{
        font-size: 1.2rem;
        position: relative;
    }
    h3::before{
        content: "";
        background: $background-inverse-palette;
        width: 60px;
        height: 2px;
        position: absolute;
        left: 5px;
        bottom: 10px;
    }
    h3::after{
        content: "";
        background: $background-palette;
        width: 60px;
        height: 2px;
        position: absolute;
        right:  5px;
        bottom: 10px;
    }   
    }
    
}
