@import "variables";
@import "mixins";
@import "animations";
@import "responsive";
@import "stylegeneral";
@import "btn";


/* mise en place des menus de l'index.html*/
.menu{
    text-align: center;
    width: 200px;
    height: 270px;
    margin-top: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .22), 0 10px 40px rgba(0, 0, 0, .25);
     a{
        text-decoration: none;
        display: block;
        width: 200px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          &:hover{
            animation: zoom 1s ease-out both; 
        }
        .menu_uppercase{
            text-transform: uppercase;
        }
     }
     &_note{
         @include menuindex (map-get($color, color-note ),map-get($font-family,family-note ));
                &--lien{
                   color:map-get($color,color-menu-note);
                   font-size: 1.5rem;
                    }
               & .block_lien--note {
                   font-size: 1.5rem;
                   @include gradient-note;
               }
            }
     &_chic{
         @include menuindex (map-get($color, color-chic ),map-get($font-family, family-chic));
                   &--lien{
                     background: $background-chic;
                     background-clip: text;
                     -webkit-background-clip: text;
                     -webkit-text-fill-color: transparent;
                     font-size: 1.1rem;
                 }
                 & .menu_chic--lienmenu{
                     font-size: 1.8rem;
                     color: map-get($color ,color-menu2-entree);
                 }
    
     }
     &_delice {
         @include menuindex (map-get($color,color-delice),map-get($font-family,family-delice ));
                   &--lien{
                    background: $background-delice;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 1.3rem;
                  }
                  & .menu_delice--lienmenu{
                    font-size: 1.8rem;
                    color: map-get($color , color-menu-delice);
                  }
       
     }
     &_palette {
         @include menuindex (map-get($color, color-palette ),map-get($font-family,family-palette));
            &--lien{
            background: $background-palette;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.4rem;
          }
          & .menu_palette--lienmenu{
            font-size: 1.8rem;
            color: map-get($color , color-menu-palette);
          }
       
     }
     }


/*mise en place des différents  menus*/

/*menu la note enchantée*/
.menu1{
    @include menu-style-general(map-get($color, color-note ),map-get($font-family,family-note )) ;
    display: flex;
    flex-direction: column;
             h2, h3{
                color: map-get($color , color-menu-note );
             }
             
          .dish{
             font-size: 1.1rem;
             color: map-get($color , color-menu-note-dish);
             font-weight: 500;
             }
         .price{
             color: map-get($color , color-menu-note );
             }
         .finmenu1{
             text-align: center;
         }
       
        
    @include responsive(large) {
        
        @include traitsoush3($background-note);
        .traitdecoratif{
            background-image: url(/img/traitmenu1.svg);
            @include traitdecorationmenu;
        }
        
    }   
    @include responsive(medium) {
        @include mediumresponsive;
        @include traitsoush3($background-note);
        .traitdecoratif{
            background-image: url(/img/traitmenu1.svg);
            @include traitdecorationmenu;
        }
      
       .dish{
           font-size: 1rem;
       }
    }    
    @include responsive(small){
        @include smallresponsive;
       .dish{
            font-size: 1rem;
        }
        h3{
            font-size: 1.3rem;
            position: relative;
        }
        h3::before{
            @include traitmenu_smallresponsive ($background-inverse-note );
            left: 5px;
        }
        h3::after{
            @include traitmenu_smallresponsive ($background-note );
            right: 5px;
        }
        }
}
i{
    @include gradient-note;
}



/*menu Le chic à la française*/

.menu2{
    @include menu-style-general(map-get($color, color-chic ),map-get($font-family, family-chic)) ;
                  h3{
                       font-size: 1rem;
                   }
                   h2{
        background: $background-chic;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.8rem;}
                   .menu2_entree{
                    color: map-get($color , color-menu2-entree ) ;
                   }
                   .menu2_plat{
                    color: map-get($color , color-menu2-plat ) ;
                   }
                   .menu2_dessert{
                    color: map-get($color , color-menu2-dessert ) ;  
                   }
                   .dish{
                    font-size: 0.9rem;
                    
                    
                }
                
    @include responsive(large) {
             @include traitsoush3($background-chic);
             .traitdecoratif{
                background-image: url(/img/traitmenu2_1.svg);
                @include traitdecorationmenu;
                &_rotation{
                    transform: rotate(180deg);
                }
                
            }
            .traitdecoratif2{
                background-image: url(/img/traitmenu2_2.svg);
                @include traitdecorationmenu;
                &_rotation{
                    transform: rotate(180deg);
                }
            }
            .traitdecoratif3{
                background-image: url(/img/traitmenu2_3.svg);
                @include traitdecorationmenu;
                &_rotation{
                    transform: rotate(180deg);
                }
            }
           
       }               
    @include responsive(medium){
       @include mediumresponsive;
         @include traitsoush3($background-chic);
        .traitdecoratif{
            background-image: url(/img/traitmenu2_1.svg);
            @include traitdecorationmenu;
            &_rotation{
                transform: rotate(180deg);
            }
        }
        .traitdecoratif2{
            background-image: url(/img/traitmenu2_2.svg);
            @include traitdecorationmenu;
            &_rotation{
                transform: rotate(180deg);
            }
        }
        .traitdecoratif3{
                background-image: url(/img/traitmenu2_3.svg);
                @include traitdecorationmenu;
                &_rotation{
                    transform: rotate(180deg);
                }
            }    
       .dish{
           font-size: 1rem;
       }
       
    }
               
    @include responsive(small){
        @include smallresponsive;
        h2{
            font-size: 1.5rem;
        }
        .dish{
            font-size: 0.8rem;
            margin-top: 2px;
        }
        .price{
            margin-top: 0;
        }
       
    } 
}

/* Menu Delice*/

.menu3{
    @include menu-style-general(map-get($color,color-delice),map-get($font-family,family-delice )) ;
      h2{
        background: $background-delice;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        font-weight: lighter;}
        .dish{
            font-size: 0.9rem;
            
        }
       
        @include responsive(large) {
            @include traitsoush3($background-delice);
            .traitdecoratif3_1L{
                background-image: url(/img/traitmenu3_1L.svg);
                @include traitdecorationmenu;}
            .traitdecoratif3_1R{
                    background-image: url(/img/traitmenu3_1R.svg);
                    @include traitdecorationmenu;
                }
                .traitdecoratif3_2L{
                    background-image: url(/img/traitmenu3_2L.svg);
                    @include traitdecorationmenu;
                } 
                .traitdecoratif3_2R{
                    background-image: url(/img/traitmenu3_2R.svg);
                    @include traitdecorationmenu;
                } 
                .traitdecoratif3_3L{
                    background-image: url(/img/traitmenu3_3L.svg);
                    @include traitdecorationmenu;
                }
                .traitdecoratif3_3R{
                    background-image: url(/img/traitmenu3_3R.svg);
                    @include traitdecorationmenu;
                }  
                
            }    
                 
        
        @include responsive(medium){
            @include mediumresponsive;
            @include traitsoush3($background-delice);
            .traitdecoratif3_1L{
                background-image: url(/img/traitmenu3_1L.svg);
                @include traitdecorationmenu;}
            .traitdecoratif3_1R{
                    background-image: url(/img/traitmenu3_1R.svg);
                    @include traitdecorationmenu;
                }
                .traitdecoratif3_2L{
                    background-image: url(/img/traitmenu3_2L.svg);
                    @include traitdecorationmenu;
                } 
                .traitdecoratif3_2R{
                    background-image: url(/img/traitmenu3_3R.svg);
                    @include traitdecorationmenu;
                } 
                .traitdecoratif3_3L{
                    background-image: url(/img/traitmenu3_3L.svg);
                    @include traitdecorationmenu;
                }
                .traitdecoratif3_3R{
                    background-image: url(/img/traitmenu3_2R.svg);
                    @include traitdecorationmenu;
                }  
            .dish{
               font-size: 0.9rem;
           }
        }        

    @include responsive(small){
        @include smallresponsive;
       .dish{
            font-size: 0.8rem;
        }
        .price{
            margin-top: 0;
        }
        
        h3{
            font-size: 1rem;
            position: relative;
        }
        h3::before{
            @include traitmenu_smallresponsive ($background-inverse-delice );
            left: 5px;
            
        }
        h3::after{
            @include traitmenu_smallresponsive ($background-delice );
            right:  5px;
            
        }   
        }
    
    } 
 
/* Menu Palette*/    
.menu4{
    @include menu-style-general(map-get($color, color-palette ),map-get($font-family,family-palette)) ;
        h2{
            background: $background-palette;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2rem; 
        }
        .dish{
            font-size: 1.1rem;
           
            
        }
       
        @include responsive(large) {
            @include traitsoush3($background-palette);
            .traitdecoratif4{
                background-image: url(/img/traitmenu4.svg);
                @include traitdecorationmenu;
                &_rotation{
                    transform: rotate(180deg);
                }
            }    
      }               


    @include responsive(medium){
        @include mediumresponsive;
        @include traitsoush3($background-palette);
        .traitdecoratif4{
            background-image: url(/img/traitmenu4.svg);
            @include traitdecorationmenu;
            &_rotation{
                transform: rotate(180deg);
            }
        }    
       .dish{
           font-size: 1rem;
       }
    }        

      @include responsive(small){
          @include smallresponsive;
         h2{
                font-size: 1.8rem;
            }
        .dish{
           font-size: 0.9rem;
            }
        .price{
            margin-top: 0;
             }
         h3{
            font-size: 1.2rem;
            position: relative;
            }
        h3::before{
            @include traitmenu_smallresponsive ($background-inverse-palette);
            left: 5px;
            
             }
        h3::after{
            @include traitmenu_smallresponsive ($background-palette);
            right:  5px;
        
    }   
    }
    
}

/*mentions légales*/

.mention{
     font-family: map-get($font-family , family-mentionslegales );
     max-width: 900px;
     margin: auto;
     margin-top: 90px;
     margin-bottom: 90px;
     border-radius: 10px;
     box-shadow: 0 6px 12px rgba(0, 0, 0, .22), 0 10px 40px rgba(0, 0, 0, .25);
           .section_mention{
               width: 80%;
               margin: auto;
                 h4{
                     text-align: center;
                     text-transform: uppercase;
                 }
           }

}
